
<p></p>
<p></p>
<p></p>
<div class="row" >
<body data-spy="scroll" data-offset="0" data-target="#navbarExample">
<div class="row">
    <div class="row">
        <div class="col-lg-2" id="navbarExample">
            <ul class="nav nav-pills nav-stacked affix">
                <li class="active"><a href="#one">About us</a></li>
                <li><a href="#two">Company Details</a></li>
                <li><a href="#three">Customer Review</a></li>
            </ul>
        </div> 
        <div class="col-lg-10">
				<div class="panel panel-default">
			    <div class="panel-body">
			    <p><h2 id="one">About us</h2><p>
									    Dear Respected Customers, Thank you for clicking on our name. 
									    <p></p>We have been exporting cars since 2004 to Africa, Middle East, South East Asia, Europe, Oceania and the Americas. 
									We are very much honored when customers call us that the car they receive was so good they wanna introduce their friends. 
									We hope you will give us the opportunity to show you our customer care/support that makes previous customers so loyal to us. 
									Please feel free to call us, email or ask any questions or request further pictures. You can request to talk to someone in your locality who has ever bought a car from us before.
									Our work doesn't end even after you receive your car. We provide after sales services. Please contact our humble staff and they will be all ears. 
									
											<p></p>For Automarket.jp, the customer is king/princess. 
									We extend warm welcome for you to visit us here in Nagoya, Japan. We sponsor the visa. Just drop us an email or a call. We will introduce Japan to you.
					 </div>
					 <div class="panel-footer">
					 </div>
				</div>
				<p></p>
				<p></p>
				
        <div class="bs-docs-section col-lg-10">
            <h2 id="two">Company Details</h2>
            <table class="table table-striped table-bordered table-hover">
            	<tr>
            		<td><strong>Country</strong></strong></td>
            		<td>Japan</td>
            		<td><strong>Established</strong></td>
            		<td>1996</td>
            	</tr>
            	<tr>
            		<td><strong>Address</strong></strong></td>
            		<td>1701-3 Honjigaoka Moriyama Ward, Nagoya City, Aichi, 463-0031</td>
            		<td><strong>Ownership type</strong></td>
            		<td>Corporation/Limited Liability Company</td>
            	</tr>
            	<tr>
            		<td><strong>Contact Person</strong></strong></td>
            		<td>Midori, Sales Staff</td>
            		<td><strong>Business Classification</strong></td>
            		<td>Wholesaler<hr>
										Retailer<hr>
										FreightForwarder<hr>
										Exporter<hr>
								</td>
            	</tr>
            	<tr>
            		<td><strong>Language</strong></strong></td>
            		<td>English / 日本語 / Français</td>
            		<td><strong>No.of Total Employees</strong></td>
            		<td>5 - 10 People</td>
            	</tr>
            	<tr>
            		<td><strong>Total Annual Sales Volume</strong></strong></td>
            		<td>US$501 Thousand - US$1 Million</td>
            		<td><strong>Above</strong></td>
            		<td>US$101 Thousand - US$500 Thousand</td>
            	</tr>
            </table>
            <hr>
            <h2 id="three">Customer Review</h2>
            <p>I wired money to purchase my car in Sept.18th 2013 but up to now I have not received my car because you're company has not returned the Correct B/L documents from 2nd of November. .the ship docked in mombasa port on 28th oct. 
            I am yet to receive the docs . I'm a very sad man. Pls help me. Evan. +254724201962</p>
            <p></p>
            <hr>
            <p>They are very professional and honesty people to do business with. I haven't yet seen my car because it's with my agent, but I was impressed with the way Auto Market Japan attended to my concerns and worries.</p>
            <hr>
        </div>
    </div>
</div>
</body>
</div>